.container {
    margin: 20px;
    display: grid;
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    grid-template-columns: 30% 69%;
    grid-template-rows: [header] 10% [body-start] 70% [footer] 20%;
    text-align: center;
    vertical-align: middle;
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: header;
    grid-row-end: body-start;
    /* text-align: center; */
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: body-start;
    grid-row-end: footer;
    /* text-align: center; */

}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: body-start;
    grid-row-end: footer;
    /* text-align: center; */

}

.el4 {
    background: rgba(0, 4, 255, 0.5);
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: footer;
    grid-row-end: -1;
    /* text-align: center; */
}